/* 필터 슬라이드의 전체 컨테이너 */
.filter-container {
    border: 1px solid orange;
    /* padding-top: 25px; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    height: 400px;
  }




/* 필터만  */
#contenar{
    /* margin: 10px; */
    border: 3px solid palevioletred;
    width: 600px;
    height: max-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    padding: 5px;
    
}
/* 필터 목록만 있는 컨테이너 */
#cards{
    border: 3px solid rgb(111, 36, 61);

    width: max-content;
    height: 170px;
    padding: 5px;
    position: relative;
}



/* 각각의 필터 카드 */
.card{
    width: 200px;
    height: 165px;
    border-radius: 5px;
    background: #00adb5;
    float: left;
    margin-left:5px ;
    overflow: hidden;
}

.card_img_frame{
    width: 100%;
    height: ;

}

.card_img{
    width: 100%;
}

.card_title{
    font-size: 20px;
}

.card:first-of-type{
    margin-left: 0px;
}


/* 필터카드 목록 하단 슬라이더 */
#slider{
    width: 500px;
    height: 6px;
    background: #00adb5;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    border-left: 3px solid #00adb5;
    border-right: 3px solid #00adb5;
}
input#slid {
    width: 100%;
    height: 5px;
    position: relative;
    top: -9px;
    margin: 0;
    z-index: 1;
    opacity: 0;
}

/* 슬라이더 손잡이 */
#slider #cerlc{
    background: #00adb5;
    border:1.5px solid #222831;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -4px;
    position: absolute;
}