@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  background: linear-gradient(#ffbab1, #e78374, #f67f89);
  /* background-color: #FF5665, white; */
  /* border: 2px solid red; */
  box-sizing: border-box;
  text-align: center;
  font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  /* padding: 25px; */
}

h3,
p,
ul {
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 2vw;
  letter-spacing: 15px;
  /* color: #ffffff; */
  color: #ffffff;

  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.star {
  border: 1px solid purple;
  font-size: 3vw;
  animation: spin 7s cubic-bezier(.8, 0, .2, .8) infinite;
  transform: rotate(360deg);
  transform-origin: center center;
}

@keyframes spin {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


nav {
  /* border: 1px solid yellow; */
  width: 80%;
  display: block;
  margin: 0.5vw auto;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;

}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

nav ul li {
  padding: 15px 0px;
}

nav ul li a {
  /* border: 1px solid blue; */
  text-decoration: none;
  color: rgb(45, 45, 45);
  transition: 150ms ease-in-out;
  letter-spacing: 1px;

}

nav ul li a:hover {
  font-weight: 500;
  letter-spacing: 3px;
  color: #FF5752;
}



a.active {
  color: #FF5752;
  font-weight: bolder ;
}

.desc{
  padding: 5px 0px;
  /*   background-color: #eee; */
  letter-spacing: 0.1em;
  font-size: 1.5vw;
    /* border: 1px solid yellow; */
  width: 80%;
  height: 20%;
  display: block;
  margin: 10px auto;
  background: rgba(255,255,255,0.4);
  border-radius: 10px;

}
/*GALLERY*/
.gallery-container {
  /* border: 3px solid orange; */
  /* padding-top: 25px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  position: relative;
  height: 500px;
}

.gallery-item {
  width: 100px;
  height: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 200ms ease-in-out;
  border-radius: 20px;
}

.gallery-item:hover {
  /*    outline: 7px dotted #f9b618; */
  opacity: 0.7;
}

.gallery-item img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  transition: 300ms ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2b2413;
  z-index: 2;
}

.modal {
  font-family: 'Balsamiq Sans', cursive;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms ease-in-out;
  overflow: hidden;
}

.modal img {
  height: 100%;
  transition: 150ms ease-in-out;
}

.close {
  position: absolute;
  right: 25px;
  top: 25px;
  border: none;
  background-color: transparent;
  color: #eea800;
  font-size: 3em;

  transform: scale(1.5, 1);
  z-index: 5;
}

.next,
.prev {
  background-color: #eee;
  color: #2b2413;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 5;
  font-size: 25px;
}

.next:hover,
.prev:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.prev {
  left: 25px;
  top: 50%;
}

.next {
  right: 25px;
  top: 50%;
}

.close:hover {
  color: #50b7df;
  cursor: pointer;
}

.overlay.show,
.modal.show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.close:focus,
.prev:focus,
.next:focus {
  outline: none;
}

footer {
  padding: 10px 0px;
  background-color: #e74b24;
  margin-top: 50px;
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 0.5vw;
  height: 51%;
}

footer a {
  text-decoration: none;
  color: white;
}



/* 슬라이드 */
.table {
  width: 100%;
}
.table td{
  width: 33.3%;
  height: 50%;
padding: 20px 10px;
}

#container {
  /* border: 2px solid red; */
  width: 1000px;
  height: 20%;
  margin: 10px;
}

.slide_wrap {
  border: 2px solid rgb(136, 0, 0);
  position: relative;
  width: 600px;
  margin: auto;
  /* padding-bottom: 30px; */
}

.slide_box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slide_content {
  display: table;
  float: left;
  width: 600px;

}




.slide_content>p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #555;
}


.slide_btn_box>button {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 60px;
  height: 60px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: none;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 100%;
}

.slide_btn_box>.slide_btn_prev {
  left: -100px;
}

.slide_btn_box>.slide_btn_next {
  right: -100px;
}

.slide_pagination {
  /* position: absolute; */
  left: 50%;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  /* transform: translateX(-50%); */
}

.slide_pagination .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  overflow: hidden;
  background: #ddd;
  border-radius: 50%;
  transition: 0.3s;
}

.slide_pagination .dot.dot_active {
  background: #333;
}

.slide_pagination .dot a {
  display: block;
  width: 100%;
  height: 100%;
}



.upload-btn-container {
  margin: 30px 10px;
  /* border: 3px red solid; */
  /* padding: 5px 0px; */
  /*   background-color: #eee; */
  letter-spacing: 0.1em;
  font-size: 1.5vw;
    /* border: 1px solid yellow; */
  width: 80%;
  height: 55px;
  display: block;
  margin: 10px auto;
  background-color: white;
  border-radius: 10px;
  opacity: 0.6;
}


/* 모달창 */

.upload-text {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 3vw;
  color: #3bbdc7;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
}

/* 모달창 버튼 */
.upload-btn-container-box{
margin: 0px auto;
  float: left;
  width: 33%;
}
.modal-btn {
  background-color: #e74b24;
  border-radius: 7px;
  font-size: 16px;
  border: 0px solid #e74b24;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.modal-btn:hover {
  font-weight: 500;
  letter-spacing: 3px;
background-color: #e74b24;
transition: 1s;

}

/* 배경 */
.btn-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* 배경 어둡게 */
  background-color: rgba(0, 0, 0, 0.7);

}




/* 모달창 */

.modal-content {
  border: 4px solid blue;
  background-color: #fefefe;
  margin: 40px auto;
  /* 15% from the top and centered */
  padding: 20px 10px;
  border: 1px solid #888;
  width: 600px;
  height: 600px;
  top: 10px;
  border-radius: 10px;
  /* Could be more or less, depending on screen size */
}


/*모달창 닫는 버튼*/


/* .modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

.modal-content .image_container {
  border: solid red 3px;
  width: 80%;
  height: 80%;
}


.upload-box {
  /* border: 3px solid red; */
  height: 80%
}

.preview {
  max-width: auto;
  height: 100%;
}

.preview-container {
  width: 200px;
  height: 200px;
}




/* 이쁜 이미지 업로드 모달창 ============*/









/* 이쁜 필터 업로드 모달창 =================================================*/

/* 필터 이미지가 들어가는 부분 container*/
.filter-modal-box {
  margin: 30px auto;
  border: 2px solid red;
  width: 90%;
  height: 50%;
  display: flex;
}

/* 필터 이미지 삽입 부분  테두리*/
.filter-upload {
  border-radius: 10px;
  margin: 20px auto;
  border: 4px dashed #555;
  width: 50%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* padding:  10px 10px; */
}

.filter-form-input {
  width: 250px;
  padding: 10px 30px;
  background: #fff;
  /* border: 4px dashed #555; */
  margin: 20px;
}

.filter-form-input input {
  display: none;
}

.filter-form-input label {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;

}




.filter-form-input img {
  width: 100%;
  display: none;
  margin-top: 10px;
}

/* 필터 제목과 ok 버튼이 들어가는 부분 container */
.filter-modal-box-down {
  margin: 40px auto;
  border: 2px solid red;
  width: 90%;
  height: 20%;
  padding: 10px 10px;
  /* display: flex; */
}

/* 업로드 필터 제목 정하는 css */
.m2_start {
  padding: 4px 13px;
  background-color: #e74b24;
  border-radius: 7px;
  font-size: 16px;
  border: 0px solid #e74b24;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.post_filter_title {
  width: 98.5%;
  height: 35px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  margin: 20px auto;
}


/* ok 버튼 */
.filter-form-ok {
  border: 3px solid orchid;
  width: 100px;
  padding: 10px;
  background: #fff;
  height: 20px;
}


.filter-form-ok input {
  display: none;
}

.filter-form-ok label {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-transform: Uppercase;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}



/* 게시물 상세보기 페이지============================================================ */
.detail-modal-content {

  background-color: #000000;
  margin: 40px auto;
  /* 15% from the top and centered */
  width: 600px;
  height: 600px;
  top: 10px;
  border-radius: 10px;
  /* Could be more or less, depending on screen size */
}
.detail-big-box{
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
border-radius: 10px;

/* padding: 10px 10px; */
}
.detail-box1{
  /* border: 2px solid red; */
  width: 60%;
  height: 100%;
background-color: black;
border-radius: 10px;

}
.detail-box2{
  /* border: 2px solid red; */
  width: 50%;
  height: 100%;
  background-color: rgb(201, 185, 162);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

/* 게시물 사진 */
.product-title {
  text-align:center;
  display:table;
  width:100%;
  height:100%;
}

.product-img-div {
  display:table-cell;
  vertical-align:middle;
}

.product-img {
  width:100%

}


/* 상세페이지 제목 박스 */
.detail-title-box{
  border:solid 1px red;
  margin: 20px 10px;
}
/* 상세페이지 내용 박스 */

.detail-content-box{
  border:solid 1px red;
height:35%;
  margin: 20px 10px;

}
/* 상세페이지 댓글 박스 */

.detail-comment-box{
  border:solid 1px red;
height: 15%;
  margin: 20px 10px;

}

/* 댓글창 */
.m3_start {
  background-color: #e74b24;
  border-radius: 7px;
  font-size: 16px;
  border: 0px solid #e74b24;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.post_detail_comment{
  width: 90%;
  height: 70px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
  margin: 10px auto;
  
}

/* ============================================== */