@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  border: 2px solid red;
  box-sizing: border-box;
  text-align: center;
  font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  padding: 25px;
}

h3,
p,
ul {
  padding: 0;
  margin: 0;
}

h3 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 2vw;
  letter-spacing: 15px;
  color: #3bbdc7;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.star {
  border: 1px solid purple;
  font-size: 3vw;
  animation: spin 7s cubic-bezier(.8, 0, .2, .8) infinite;
  transform: rotate(360deg);
  transform-origin: center center;
}

@keyframes spin {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.desc {
  padding: 25px 0px;
  /*   background-color: #eee; */
  letter-spacing: 0.1em;
  font-size: 1.5vw;
}

nav {
  border: 1px solid yellow;
  width: 100%;
  display: block;
  /* margin: 0.5vw auto; */
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

nav ul li {
  padding: 15px 0px;
}

nav ul li a {
  border : 1px solid blue;
  text-decoration: none;
  color: #999;
  transition: 150ms ease-in-out;
  letter-spacing: 1px;
}

nav ul li a:hover {
  border : 1px solid green;
  font-weight: 500;
  letter-spacing: 3px;
  color: #e74b24;
}

a.active {
  color: #e74b24;
}

/*GALLERY*/
.gallery-container {
  border: 1px solid orange;
  /* padding-top: 25px; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  position: relative;
  height: 400px;
}

.gallery-item {
  width: 100px;
  height: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: 200ms ease-in-out;
  border-radius: 20px;
}

.gallery-item:hover {
  /*    outline: 7px dotted #f9b618; */
  opacity: 0.7;
}

.gallery-item img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  transition: 300ms ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #2b2413;
  z-index: 2;
}

.modal {
  font-family: 'Balsamiq Sans', cursive;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms ease-in-out;
  overflow: hidden;
}

.modal img {
  height: 100%;
  transition: 150ms ease-in-out;
}

.close {
  position: absolute;
  right: 25px;
  top: 25px;
  border: none;
  background-color: transparent;
  color: #eea800;
  font-size: 3em;

  transform: scale(1.5, 1);
  z-index: 5;
}

.next,
.prev {
  background-color: #eee;
  color: #2b2413;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 5;
  font-size: 25px;
}

.next:hover,
.prev:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.prev {
  left: 25px;
  top: 50%;
}

.next {
  right: 25px;
  top: 50%;
}

.close:hover {
  color: #50b7df;
  cursor: pointer;
}

.overlay.show,
.modal.show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.close:focus,
.prev:focus,
.next:focus {
  outline: none;
}

footer {
  padding: 10px 0px;
  background-color: #e74b24;
  margin-top: 50px;
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 0.5vw;
  height: 51%;
}

footer a {
  text-decoration: none;
  color: white;
}



/* 슬라이드 */
#container {
  border: 2px solid red;
  width: 1000px;
  margin: auto;
}

.slide_wrap {
  border: 2px solid rgb(136, 0, 0);

  position: relative;
  width: 600px;
  margin: auto;
  padding-bottom: 30px;
}

.slide_box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}

.slide_content {
  display: table;
  float: left;
  width: 600px;
  height: 400px;
}




.slide_content>p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #555;
}

.slide_content.slide01 {
  background: #ddbdff;
  
}

.slide_content.slide02 {
  background: #9fd6c2;
}

.slide_content.slide03 {
  background: #abe2f7;
}

.slide_content.slide04 {
  background: #f08c78;
}

.slide_content.slide05 {
  background: #fbdb65;
}

.slide_content.slide06 {
  background: #ff0059;
}

.slide_btn_box>button {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 60px;
  height: 60px;
  font-size: 16px;
  color: #999;
  background: none;
  border: 1px solid #ddd;
  cursor: pointer;
}

.slide_btn_box>.slide_btn_prev {
  left: -100px;
}

.slide_btn_box>.slide_btn_next {
  right: -100px;
}

.slide_pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
}

.slide_pagination .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  overflow: hidden;
  background: #ddd;
  border-radius: 50%;
  transition: 0.3s;
}

.slide_pagination .dot.dot_active {
  background: #333;
}

.slide_pagination .dot a {
  display: block;
  width: 100%;
  height: 100%;
}